body {
	background-color: #c7b97f;
}

#container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

header h1 {
	font-size: 6em;
	color: #4d3649;
	float: left;
	font-family: "Lucinda Handwriting", papyrus;
}

header h2 {
	font-size: 3em;
	font-family: "Lucinda Handwriting", papyrus;
	color: #4d3649;
	margin-top: -6em;
	clear: left;
	display: inline-block;
}

header img {
	float: left;
	margin-right: 10em;
	border-radius: 2em;
	max-width: 20%;
}
	

nav {
	float: right;
	margin-bottom: 0;
	width: 100%;
	font-size: 2.5em;
	text-align: center;
	font-weight: bold;
	font-family: "Lucinda Handwriting", papyrus;
}

nav ul {
	margin: 0;
	padding-left: 0.50%;
	padding-right: 0.50%;
}

nav li {
	display: inline;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	padding-left: 0%;
	padding-right: 0%;
	width: 14.5%;
	white-space: nowrap;
	border-radius: 0;
	background-color: transparent;
}

nav li a {
	display: inline-block;
	padding: 0.7em;
	text-decoration: none;
}

nav li a:link{
	color: #4d3649;
}
	
nav li a:visited{
	color: #4d3649;
}
	
nav li a:hover{
	color: #fffdcf;
	font-style: italic;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 2em;
	border: double 0.5em #4d3649;
}

main p {
	color: #4d3649;
	text-align: center;
	padding: 1em;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-width: 1em;
}

td, tr {
	border: 2px solid #4d3649;
	text-align: left;
	padding: 8px;
	font-size: 1.3em;
	color: #4d3649;
	font-family: cursive;
}

td img {
	margin-top: 1em;
	margin-bottom: 1em;
	max-width: 400px;
	max-height: 300px;
	border-radius: 1em;
}

aside {
	font-style: italic;
	background-color: #e0dcd1;
	border-radius: 0 5em 5em 5em;
	box-shadow: 0.5em 0.5em 0.5em #4C4F4D;
	padding: 1em;
	margin: 1em;
}
	
footer {
	color: #4d3649;
	text-decoration: none;
	text-align: center;
	padding: 1em;
	font-size: 1em;
}